/*registration from*/
#reg{
    padding: 10px;
    margin-top: 10px;
}
tr:hover{
    cursor: pointer;
}

body{
	width: 100%;
}

.myclass{
	padding-left:7% !important;
	
}
.padright{
	padding-right:7% !important;
	
}
.hompagebody{
	padding-left:7% !important;

	padding-right:7% !important;
	
}
.signin{
	align-content: right!important;
	float: right !important;
	margin-left: auto !important;
	margin-right: 0 !important;
}

.toalighright{
	text-align:right;
}

.maintext {
	font-family: sans-serif;
}

.subtext {
	line-height: 1.75;
	font-family: sans-serif;
}

.navs {	
	float: left;
	color: black;
	font-family: sans-serif;
}
.navs1 {
	
	float: right;
	color: black;
	font-family: sans-serif;
}

footer {
	position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: white;
   color: black;
   text-align: center;
}


.column {
    float: left;
    width: 50%;
    padding: 10px;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

.spacing {
	line-height: 20px;
}

.contact {
	font-family: sans-serif; 
	font-size: 25px;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/* Style the close button */
.topright {
    float: right;
    cursor: pointer;
    font-size: 28px;
}

.topright:hover {color: red;}
